Repository Js109/Js109-Messaging_Service_Crossplattform_Student_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-android:assemble, test-android, build-backend, test-backend, build-webview

build-android:assemble:
  image: openjdk:8-jdk
  variables:
    ANDROID_COMPILE_SDK: '28'
    ANDROID_BUILD_TOOLS: 28.0.2
    ANDROID_SDK_TOOLS: '4333796'
  before_script:
  - apt-get --quiet update --yes
  - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
  ...

test-android:
  image: openjdk:8-jdk
  variables:
    ANDROID_COMPILE_SDK: '28'
    ANDROID_BUILD_TOOLS: 28.0.2
    ANDROID_SDK_TOOLS: '4333796'
  before_script:
  - apt-get --quiet update --yes
  - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
  ...

build-backend:
  image: openjdk:11.0.5
  before_script:
  - chmod +x backend/gradlew
  stage: build
  script:
  - cd backend/
  - ./gradlew bootJar

test-backend:
  image: openjdk:11.0.5
  before_script:
  - chmod +x backend/gradlew
  stage: test
  script:
  - cd backend/
  - ./gradlew test
  needs:
  - build-backend

build-webview:
  variables:
    CLI_VERSION: 10.0.8
  image: trion/ng-cli-e2e:${CLI_VERSION}
  before_script:
  - cd webview/
  - npm ci
  stage: build
  script:
  - ng build --prod

fix(MessageDisplayProperties model): fixed name of alignment field
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/models/MessageDisplayProperties.ts
Due: build-webview

added missing change
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

fix(message form ): sending/clearing message with active color does not set color to null anymore
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

fix(MessageContentActivity): linkId OutOfBoundsException
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
Due: build-android:assemble, test-android

feature(backend): added Metrics Endpoint with mock data
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MetricsController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsFilterDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MetricsFilterBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

fix(backend): fixed tests
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/BaseControllerTest.kt
Due: build-backend, test-backend

feat(android): Disabled Topics are now correctly handled
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/deletion/MessageDeletionDialogFragment.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topic/TopicModel.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topicFragment/TopicAdapter.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topicFragment/TopicFetcher.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topicFragment/TopicFilter.kt
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

feature(backend): added function to metrics endpoint
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MetricsController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsFilterDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

feature(backend): Updated MetricsDTO
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

feat(WebApp): copy sent messages, changes of subsequently sent messages but not active, use new get endpoint, edit messages in message history
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.html
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.ts
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.css
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.ts
  webview/src/app/message/message.component.ts
Due: build-webview

feat(WebApp): more links can be handled in message view
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

feat(WebApp): some design for message-form.component.html and in view message title in colours as well
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

fix(MetricsService; MessageRepository): fixed date out of range exception for postgres in message filter query
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

added no spanBegin/spanEnd handling in MetricsService
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

added comment to explain use of coalesce
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
Due: build-backend, test-backend

feat(WebApp): Modaldialog bevor eine Nachricht in Message History gelöscht wird
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
  webview/src/polyfills.ts
Due: build-webview

refactor(webview): moved date picker into its own component for easier reuse
  webview/src/app/app.module.ts
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.css
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.html
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.spec.ts
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

fixed afterTimeSpan and beforeTimeSpan filter calculation (before needs to end one day before the current time span and similarly for after)
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

feat(WebApp): make webview running again after resolving merge conflicts
  webview/src/app/models/Message.ts
  webview/src/app/models/MessageDisplayProperties.ts
Due: build-webview

fixed tests
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topicFragment/TopicFilter.kt
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/topicFragment/TopicFetcherTest.kt
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/topicFragment/TopicFilterTest.kt
Due: build-android:assemble, test-android

Tests fixed and equals method adjusted
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/topic/TopicModel.kt
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/topicFragment/TopicFetcherTest.kt
Due: build-android:assemble, test-android

refactor(android, backend): Moved amq access data to configuration
  automotive-frontend/automotive/build.gradle
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/ApplicationConstants.java
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/rabbitmq/RabbitMQService.kt
  backend/.idea/runConfigurations/CdsApplication_Dev.xml
  backend/.idea/runConfigurations/CdsApplication_Prod_Postgres.xml
  backend/src/main/kotlin/de/uulm/automotive/cds/services/AmqpChannelService.kt
  backend/src/main/resources/application.properties
Due: build-android:assemble, test-android, build-backend, test-backend

fix(TemplateController): id is forced to null when posting template to avoid detached entity errors
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/TemplateController.kt
Due: build-backend, test-backend

Added environments for testing.
  backend/.idea/runConfigurations/CdsApplication_Dev.xml
  backend/.idea/runConfigurations/CdsApplication_Prod_Postgres.xml
  backend/build.gradle.kts
  backend/src/main/kotlin/de/uulm/automotive/cds/services/AmqpChannelService.kt
Due: build-backend, test-backend

feat(WebApp): refinements for view message done
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.css
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
Due: build-webview

feat(WebApp): text-align view message
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.ts
Due: build-webview

fix(message form; Alignment enum; FontFamily enum): fixed alignment/font deserialize; fixed color switch
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
  webview/src/app/models/Alignment.ts
  webview/src/app/models/FontFamily.ts
  webview/src/styles.css
Due: build-webview

Added rabbitmq to docker-compose file
  .env
  docker-compose.yml
  rabbitmq/Dockerfile
  rabbitmq/init.sh
Due: none

Changed dockerfile of rabbitmq broker, added pid env
  rabbitmq/Dockerfile
Due: none

Changed backend url in node environment to container name of docker compose
  webview/src/environments/environment.prod.ts
Due: build-webview

Webui is now working with remote backend
  .env
  docker-compose.yml
  rabbitmq/Dockerfile
  webview/Dockerfile
  webview/src/environments/environment.prod.ts
Due: build-webview

Removed unused comments
  webview/Dockerfile
Due: build-webview

feat(WebApp): Messagehistory Calender filter gets converted to date now and filtering works properly again
  webview/src/app/app.module.ts
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.css
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.html
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.spec.ts
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.ts
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

feat(WebApp): Messagehistory Calender to seperate Error messages
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

feat(backend): Completed Metrics Endpoint
  backend/build.gradle.kts
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MetricsController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/SignUpController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/TopicController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/Subscriptions.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/RabbitMQPropertyMetrics.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/RabbitMQTopicMetrics.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MetricsFilterDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MetricsFilterBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/SubscriptionsRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/BaseControllerTest.kt
Due: build-backend, test-backend

feat(backend): Added Cron Scheduling to Update Subscriber Data once a day
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/SchedulingService.kt
Due: build-backend, test-backend

fix(backend): Message starttime can not be in past
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
Due: build-backend, test-backend

fix(backend): fixed scheduling tests
  backend/src/test/kotlin/de/uulm/automotive/cds/services/SchedulingServiceTest.kt
Due: build-backend, test-backend

fix(android): Added the new location favorite fragment again
  automotive-frontend/automotive/src/main/res/layout/fragment_location_favourites.xml
Due: build-android:assemble, test-android

WIP: Added notification and message history explanation screen in introduction, adjusted image of subscription explanation
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentMessageHistoryExplanation.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentNotificationExplanation.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/WelcomeAppIntro.kt
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_message_history_explanation.xml
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_notification_explanation.xml
  automotive-frontend/automotive/src/main/res/mipmap-hdpi/message_history.png
  automotive-frontend/automotive/src/main/res/mipmap-hdpi/message_popup.png
  automotive-frontend/automotive/src/main/res/mipmap-hdpi/topic_selection.png
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

Path conditions:
  build-android:assemble: any of: automotive-frontend/**/*
  test-android: any of: automotive-frontend/**/*
  build-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
  build-webview: any of: webview/**/*
