Repository Js109/Js109-Messaging_Service_Crossplattform_Student_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-android:assemble, test-android, build-backend, test-backend, build-webview

build-android:assemble:
  image: openjdk:8-jdk
  variables:
    ANDROID_COMPILE_SDK: '28'
    ANDROID_BUILD_TOOLS: 28.0.2
    ANDROID_SDK_TOOLS: '4333796'
  before_script:
  - apt-get --quiet update --yes
  - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
  ...

test-android:
  image: openjdk:8-jdk
  variables:
    ANDROID_COMPILE_SDK: '28'
    ANDROID_BUILD_TOOLS: 28.0.2
    ANDROID_SDK_TOOLS: '4333796'
  before_script:
  - apt-get --quiet update --yes
  - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
  ...

build-backend:
  image: openjdk:11.0.5
  before_script:
  - chmod +x backend/gradlew
  stage: build
  script:
  - cd backend/
  - ./gradlew bootJar

test-backend:
  image: openjdk:11.0.5
  before_script:
  - chmod +x backend/gradlew
  stage: test
  script:
  - cd backend/
  - ./gradlew test
  needs:
  - build-backend

build-webview:
  variables:
    CLI_VERSION: 10.0.8
  image: trion/ng-cli-e2e:${CLI_VERSION}
  before_script:
  - cd webview/
  - npm ci
  stage: build
  script:
  - ng build --prod

fix(backend): backend does not crash anymore if it can not connect to broker
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/SignUpController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/AmqpChannelService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

feat(WebApp): messagehistory error messages there is only one left when enddate is before startdate closes: #177
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

fix(backend): fixed test
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/SignUpController.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/SignUpControllerTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/services/MessageServiceTest.kt
Due: build-backend, test-backend

feat(added pruning of tags from message content):
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentPrune.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageAdapter.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/rabbitmq/RabbitMQService.kt
  automotive-frontend/automotive/src/main/res/layout/activity_welcome_video.xml
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/messages/MessageContentPruneKtTest.kt
Due: build-android:assemble, test-android

feat(min date for date picker):
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.html
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/statistics/statistics.component.html
Due: build-webview

feat(message form): added character limit to title, content, and sender field
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

added current time as min date to date-time-picker
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.html
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.ts
Due: build-webview

added missing limit to topic and property
  webview/src/app/property/property.component.html
  webview/src/app/topic/topic.component.html
Due: build-webview

feat(WebApp): messagehistory add rows and columns for specific search fields
  webview/src/app/message-history/message-history.component.html
Due: build-webview

added strong tags
  webview/src/app/statistics/statistics.component.html
Due: build-webview

feat(WebApp): message history layout of the message filter redefined with toggle option to show specific search fields
  webview/src/app/app.module.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

feat(message form; view message dialog): calculates expiration when loading message
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.ts
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(WebApp): message history layout fixes and fix of property bug
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

fix(backend): Made Query Case Insensitive for Postgres
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/CdsApplicationTests.kt
  docker-compose.yml
Due: build-backend, test-backend

feat(docker compose; AmqpChannelService): fixed AmqpChannelService; adjusted docker for local deploy
  .env
  automotive-frontend/automotive/build.gradle
  backend/src/main/kotlin/de/uulm/automotive/cds/services/AmqpChannelService.kt
  docker-compose.yml
Due: build-android:assemble, test-android, build-backend, test-backend

added fix for rabbitmq init file
  rabbitmq/Dockerfile
Due: none

fix(TemplateController): added null check for locationData
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/TemplateController.kt
Due: build-backend, test-backend

docs(backend): Updated the swagger documentation to the current state of the Api
  backend/docs/src/http-api-swagger/automotive_app.yaml
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
Due: build-backend, test-backend

[Refactor documentation and add README]
  README.md
  backend/docs/src/installation/image1.png
  backend/docs/src/installation/rabbitmq_management_new_user.jpg
  backend/docs/src/installation/rabbitmq_management_user_permission.jpg
Due: build-backend, test-backend

Path conditions:
  build-android:assemble: any of: automotive-frontend/**/*
  test-android: any of: automotive-frontend/**/*
  build-backend: any of: backend/**/*
  test-backend: any of: backend/**/*
  build-webview: any of: webview/**/*
