Repository Js109/Js109-Messaging_Service_Crossplattform_Student_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-android:assemble, test-android, build-backend, test-backend, build-webview

.gitlab-ci.yml:

stages:
  - build
  - deploy
  - test

.automotive-setup: &automotive-setup
  image: openjdk:8-jdk

  variables:
    ANDROID_COMPILE_SDK: "28"
    ANDROID_BUILD_TOOLS: "28.0.2"
    ANDROID_SDK_TOOLS:   "4333796"

  before_script:
    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
    - wget --quiet --output-document=android-sdk.zip https://dl.google.com/android/repository/sdk-tools-linux-${ANDROID_SDK_TOOLS}.zip
    - unzip -d android-sdk-linux android-sdk.zip
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platforms;android-${ANDROID_COMPILE_SDK}" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platform-tools" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "build-tools;${ANDROID_BUILD_TOOLS}" >/dev/null
    - export ANDROID_HOME=$PWD/android-sdk-linux
    - export PATH=$PATH:$PWD/android-sdk-linux/platform-tools/
    - chmod +x automotive-frontend/gradlew
    # temporarily disable checking for EPIPE error and use yes to accept all licenses
    - set +o pipefail
    - yes | android-sdk-linux/tools/bin/sdkmanager --licenses
    - set -o pipefail
    # navigate into project folder
    - cd automotive-frontend

  only:
    changes:
      - automotive-frontend/**/*

build-android:assemble:
  <<: *automotive-setup
  stage: build
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - automotive/build/outputs/

test-android:
  <<: *automotive-setup
  stage: test
  script:
    - ./gradlew -Pci --console=plain :automotive:testLocalbackendRelease

.test-android:lint:
  <<: *automotive-setup
  stage: test
  script:
    - ./gradlew -Pci --console=plain :automotive:lintLocalbackendRelease -PbuildDir=lint

.backend-setup: &backend-setup
  image: openjdk:11.0.5
  before_script:
    - chmod +x backend/gradlew
  only:
    changes:
      - backend/**/*

build-backend:
  <<: *backend-setup
  stage: build
  script:
    - cd backend/
    - ./gradlew bootJar

test-backend:
  <<: *backend-setup
  stage: test
  script:
    - cd backend/
    - ./gradlew test
  needs: ["build-backend"]

.webview-setup: &webview-setup
  variables:
    CLI_VERSION: 10.0.8
  image: trion/ng-cli-e2e:${CLI_VERSION}
  before_script:
    - cd webview/
    - npm ci
  only:
    changes:
      - webview/**/*

build-webview:
  <<: *webview-setup
  stage: build
  script:
    - ng build --prod

.test-webview:karma:
  <<: *webview-setup
  stage: test
  allow_failure: false
  script:
    - ng test --progress false --watch false

.test-webview:e2e:
  <<: *webview-setup
  stage: test
  allow_failure: false
  script:
    - ng e2e

.test-webview:ngLint:
  <<: *webview-setup
  stage: test
  script:
    - ng lint

refactor(backend): Updated message filter logic
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

refactor(backend): Updated matching of only sender/content/title
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
Due: build-backend, test-backend

feat(android): Updated introduction screen
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentLocationFavouriteExplanation.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/WelcomeAppIntro.kt
  automotive-frontend/automotive/src/main/res/drawable/intro_screen_frame_border.xml
  automotive-frontend/automotive/src/main/res/drawable/intro_screen_screenshot_border.xml
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_channel_information.xml
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_location_favourite_explanation.xml
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_message_history_explanation.xml
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_notification_explanation.xml
  automotive-frontend/automotive/src/main/res/mipmap-hdpi/location_favourites.png
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

fix(backend): Added saving of Subscribers once when the system gets started
  backend/src/main/kotlin/de/uulm/automotive/cds/services/SchedulingService.kt
Due: build-backend, test-backend

feat(Android Frontend): intro refinements
  automotive-frontend/automotive/src/main/res/layout/fragment_intro_welcome.xml
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

Adjusted comments to enumerate intro slides correctly.
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentLocationFavouriteExplanation.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentMessageHistoryExplanation.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/welcome/IntroFragmentNotificationExplanation.kt
Due: build-android:assemble, test-android

Added prod as spring profile for docker-compose setup.
  .env
Due: none

fix(backend): Updated RabbitMQ Metrics API Link to use env variables
  .env
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
  backend/src/main/resources/application.properties
  docker-compose.yml
Due: build-backend, test-backend

fix(backend): Fixed run config and link to api
  backend/.idea/runConfigurations/CdsApplication_Dev.xml
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

fix(backend): fixed tests
  backend/build.gradle.kts
Due: build-backend, test-backend

feat(WebApp): Tooltips for images and automatic tags for image and link placement
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(WebApp): Tooltips for images and automatic tags for image and link placement refinements
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

feat(WebApp): refinements modal-dialog message history
  webview/src/app/message-history/message-history.component.html
Due: build-webview

fix(backend): fixed tests
  backend/build.gradle.kts
  backend/src/main/kotlin/de/uulm/automotive/cds/services/AmqpChannelService.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/CdsApplicationTests.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/BaseControllerTest.kt
Due: build-backend, test-backend

created component; added echarts module
  webview/package-lock.json
  webview/package.json
  webview/src/app/app-routing.module.ts
  webview/src/app/app.component.html
  webview/src/app/app.module.ts
  webview/src/app/models/Metrics.ts
  webview/src/app/models/MetricsFilter.ts
  webview/src/app/statistics/statistics.component.css
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.spec.ts
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

WIP
  webview/package-lock.json
  webview/src/app/models/Metrics.ts
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

created component; added echarts module
  webview/src/app/app.module.ts
Due: build-webview

added label; added color palette; changed layout
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

added update on filter change; added labels/legends; added formatting of axes/bars
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

fix(backend): Fix Time format
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
Due: build-backend, test-backend

feature(webview): Added Filter for content, sender and title
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-backend, test-backend, build-webview

feature(webview): Added Filter for property
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/models/MessageFilter.ts
Due: build-backend, test-backend, build-webview

fix(webview): fixed string types
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/models/MessageFilter.ts
Due: build-webview

reworked time charts to use parsed milliseconds
  webview/src/app/models/Metrics.ts
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

Update app.module.ts
  webview/src/app/app.module.ts
Due: build-webview

feat(Backend and WebApp): run configuration updated
  backend/.idea/runConfigurations/CdsApplication_Prod_Postgres.xml
Due: build-backend, test-backend

Added displaying support for svg images and logos in android
  automotive-frontend/automotive/build.gradle
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageAdapter.kt
Due: build-android:assemble, test-android

Added Support in Angular to display svg icons as logo preview. Closes: #168
  webview/package-lock.json
  webview/package.json
  webview/src/app/message/message-form/message-form.component.ts
  webview/src/environments/environment.ts
Due: build-webview

fix(backend): fixed postgres problems by removing lower()
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MetricsService.kt
Due: build-backend, test-backend

fix(backend): added max size to string fields
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/Message.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTO.kt
Due: build-backend, test-backend

fix(backend): fixed test
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
Due: build-backend, test-backend

Update environment.ts back to localhost
  webview/src/environments/environment.ts
Due: build-webview

fix(backend): added error handling for topic and property in message
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageBadRequestInfo.kt
Due: build-backend, test-backend

fix(backend): fixed possible nullpointer error
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
Due: build-backend, test-backend

fix(backend): added description max size
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTO.kt
Due: build-backend, test-backend

feat(WebApp): tag problem solved with RegExp solved
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(WebApp): calenders datetime and date
  webview/package-lock.json
  webview/package.json
  webview/src/app/app.module.ts
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.spec.ts
  webview/src/app/elektrobit-date-picker-to-date/elektrobit-date-picker-to-date.component.ts
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.html
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.spec.ts
  webview/src/app/elektrobit-date-picker/elektrobit-date-picker.component.ts
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.css
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.html
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.spec.ts
  webview/src/app/elektrobit-date-time-picker/elektrobit-date-time-picker.component.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview

fix(fixed time chart x axis; added slider for top topics):
  webview/src/app/statistics/statistics.component.html
  webview/src/app/statistics/statistics.component.ts
Due: build-webview

fix(backend): Update message, now sends message if the starttime is in the past
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/MessageControllerTest.kt
Due: build-backend, test-backend

feat(WebApp): use mat-tooltips instead of classic tooltips for better design
  webview/src/app/app.module.ts
  webview/src/app/message/message-form/message-form.component.html
Due: build-webview
