Repository Js109/Js109-Messaging_Service_Crossplattform_Student_Project: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build-android:assemble, test-android, build-backend, test-backend, build-webview

.gitlab-ci.yml:

stages:
  - build
  - deploy
  - test

.automotive-setup: &automotive-setup
  image: openjdk:8-jdk

  variables:
    ANDROID_COMPILE_SDK: "28"
    ANDROID_BUILD_TOOLS: "28.0.2"
    ANDROID_SDK_TOOLS:   "4333796"

  before_script:
    - apt-get --quiet update --yes
    - apt-get --quiet install --yes wget tar unzip lib32stdc++6 lib32z1
    - wget --quiet --output-document=android-sdk.zip https://dl.google.com/android/repository/sdk-tools-linux-${ANDROID_SDK_TOOLS}.zip
    - unzip -d android-sdk-linux android-sdk.zip
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platforms;android-${ANDROID_COMPILE_SDK}" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "platform-tools" >/dev/null
    - echo y | android-sdk-linux/tools/bin/sdkmanager "build-tools;${ANDROID_BUILD_TOOLS}" >/dev/null
    - export ANDROID_HOME=$PWD/android-sdk-linux
    - export PATH=$PATH:$PWD/android-sdk-linux/platform-tools/
    - chmod +x automotive-frontend/gradlew
    # temporarily disable checking for EPIPE error and use yes to accept all licenses
    - set +o pipefail
    - yes | android-sdk-linux/tools/bin/sdkmanager --licenses
    - set -o pipefail
    # navigate into project folder
    - cd automotive-frontend

  only:
    changes:
      - automotive-frontend/**/*

build-android:assemble:
  <<: *automotive-setup
  stage: build
  script:
    - ./gradlew assembleDebug
  artifacts:
    paths:
      - automotive/build/outputs/

test-android:
  <<: *automotive-setup
  stage: test
  script:
    - ./gradlew -Pci --console=plain :automotive:testLocalbackendRelease

.test-android:lint:
  <<: *automotive-setup
  stage: test
  script:
    - ./gradlew -Pci --console=plain :automotive:lintLocalbackendRelease -PbuildDir=lint

.backend-setup: &backend-setup
  image: openjdk:11.0.5
  before_script:
    - chmod +x backend/gradlew
  only:
    changes:
      - backend/**/*

build-backend:
  <<: *backend-setup
  stage: build
  script:
    - cd backend/
    - ./gradlew bootJar

test-backend:
  <<: *backend-setup
  stage: test
  script:
    - cd backend/
    - ./gradlew test
  needs: ["build-backend"]

.webview-setup: &webview-setup
  variables:
    CLI_VERSION: 10.0.8
  image: trion/ng-cli-e2e:${CLI_VERSION}
  before_script:
    - cd webview/
    - npm ci
  only:
    changes:
      - webview/**/*

build-webview:
  <<: *webview-setup
  stage: build
  script:
    - ng build --prod

.test-webview:karma:
  <<: *webview-setup
  stage: test
  allow_failure: false
  script:
    - ng test --progress false --watch false

.test-webview:e2e:
  <<: *webview-setup
  stage: test
  allow_failure: false
  script:
    - ng e2e

.test-webview:ngLint:
  <<: *webview-setup
  stage: test
  script:
    - ng lint

feat(WebApp): Message History modal dialog view message
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
  webview/src/polyfills.ts
Due: build-webview

feat(android): MessageContentActivity only launched once
  automotive-frontend/automotive/src/main/AndroidManifest.xml
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
Due: build-android:assemble, test-android

feat(WebApp): Topicview resolve merge conflict results and set new style for Remove Input field
  webview/src/app/app.module.ts
  webview/src/app/topic/topic.component.html
Due: build-webview

repaced host with @HostBinding
  webview/src/app/property/property.component.ts
  webview/src/app/topic/topic.component.ts
Due: build-webview

feat(WebApp): Initial Commit Dialog Component Message History
  webview/src/app/app.module.ts
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.css
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.html
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.spec.ts
  webview/src/app/message-history/edit-message-dialog/edit-message-dialog.component.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
Due: build-webview

feat(message form view): added switch to enable custom color
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(message view; topic view; property view): added toast for succesfull and failed message post; added toast for failed topic or property post
  webview/src/app/app.module.ts
  webview/src/app/message/message.component.ts
  webview/src/app/property/property.component.ts
  webview/src/app/topic/topic.component.ts
Due: build-webview

feat(Backend): Initial Commit backend update message
  backend/docs/src/http-api-swagger/automotive_app.yaml
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
Due: build-backend, test-backend

feature(webapp): Updated Message model
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
  webview/src/app/message/message.component.ts
  webview/src/app/models/Alignment.ts
  webview/src/app/models/Message.ts
  webview/src/app/models/MessageDisplayProperties.ts
Due: build-webview

feature(Android): updated message model
  automotive-frontend/automotive/src/androidTest/java/de/uulm/automotiveuulmapp/messageFragment/MessageFragmentTest.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotive/cds/entities/MessageDisplayPropertiesSerializeable.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotive/cds/entities/MessageSerializable.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotive/cds/models/Alignment.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotive/cds/models/MessageDisplayProperties.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessagePersistenceService.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messagedb/Converters.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messagedb/MessageDatabase.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messagedb/MessageEntity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/rabbitmq/RabbitMQService.kt
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/messageFragment/MessageFilterTest.kt
Due: build-android:assemble, test-android

feat(message form view): added remove button for starttime
  webview/package-lock.json
  webview/package.json
  webview/src/app/app.module.ts
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feature(backend): refactor of entity dto conversion
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/PropertyController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/TopicController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/DTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/DTOCompanion.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/EntityConverter.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageCompactDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTO.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/PropertyControllerTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/TopicControllerTest.kt
Due: build-backend, test-backend

feature(backend): refactor of dto error handling
  backend/src/main/kotlin/de/uulm/automotive/cds/models/BadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageFilterBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/PropertyBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/TopicBadRequestInfo.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTOTest.kt
Due: build-backend, test-backend

feature(backend): updated message model
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/Message.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/MessageDisplayProperties.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/MessageDisplayPropertiesSerializable.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/MessageSerializable.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/entities/TemplateMessage.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/Alignment.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDisplayPropertiesDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageFilterDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageDisplayPropertiesBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/MessageControllerTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/TemplateControllerTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/MessageCompactDTOTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTOTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTOTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTOTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/services/MessageServiceTest.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/services/SchedulingServiceTest.kt
Due: build-backend, test-backend

feature(backend): refactor of dto error handling
  backend/src/main/kotlin/de/uulm/automotive/cds/models/BadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageFilterDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/TopicDTO.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/MessageFilterBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/PropertyBadRequestInfo.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/models/errors/TopicBadRequestInfo.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/models/dtos/PropertyDTOTest.kt
Due: build-backend, test-backend

feat(Backend): Backend via put endpoint and tests update message
  backend/docs/src/http-api-swagger/automotive_app.yaml
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/MessageControllerTest.kt
Due: build-backend, test-backend

fixed null pointer exception for messageDisplayProperties
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
  webview/src/app/message/message.component.ts
Due: build-webview

feat(android): Links are now distinguished and handled accordingly
  automotive-frontend/automotive/src/main/AndroidManifest.xml
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/specialContent/GoogleMapsLinkHelper.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/specialContent/LinkCategoryIdentifier.kt
  automotive-frontend/automotive/src/main/res/drawable/ic_globe.xml
  automotive-frontend/automotive/src/main/res/drawable/ic_youtube.xml
  automotive-frontend/automotive/src/main/res/layout/activity_message_content.xml
  automotive-frontend/automotive/src/main/res/layout/message_browser_link.xml
  automotive-frontend/automotive/src/main/res/layout/youtube_link.xml
  automotive-frontend/automotive/src/main/res/values-round/strings.xml
  automotive-frontend/automotive/src/main/res/values/strings.xml
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/messages/MessageActivityTest.kt
Due: build-android:assemble, test-android

style(Android): Code cleanup
  automotive-frontend/.idea/misc.xml
  automotive-frontend/automotive/src/androidTest/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageAdapterTest.kt
  automotive-frontend/automotive/src/androidTest/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageFragmentTest.kt
  automotive-frontend/automotive/src/main/AndroidManifest.xml
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/MainActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageAdapter.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageFilter.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageFragment.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageSimpleCallback.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/deletion/MessageDeletionDialogFragment.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/deletion/MessageDeletionHelper.kt
  automotive-frontend/automotive/src/main/res/layout/activity_message_deletion_helper.xml
  automotive-frontend/automotive/src/main/res/layout/activity_message_fragment_test.xml
  automotive-frontend/automotive/src/main/res/values/strings.xml
  automotive-frontend/automotive/src/test/java/de/uulm/automotiveuulmapp/messages/MessageFilterTest.kt
Due: build-android:assemble, test-android

Fixed string resource duplicate. Added comments
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/specialContent/GoogleMapsLinkHelper.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/specialContent/LinkCategoryIdentifier.kt
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

Bugfix missing string resource (image content desctription)
  automotive-frontend/automotive/src/main/res/values/strings.xml
Due: build-android:assemble, test-android

feat(WebFrontend): View Message as seperate dialog and edit message with request
  webview/package-lock.json
  webview/package.json
  webview/src/app/app.module.ts
  webview/src/app/message-history/message-history.component.html
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.css
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.html
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.spec.ts
  webview/src/app/message-history/view-message-dialog/view-message-dialog.component.ts
Due: build-webview

fix(backend): both colors == null does not result in color Error anymore
  backend/src/main/kotlin/de/uulm/automotive/cds/models/dtos/MessageDisplayPropertiesDTO.kt
Due: build-backend, test-backend

feat(WebApp): correct comment
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(Backend): rework update message as noted
  backend/docs/src/http-api-swagger/automotive_app.yaml
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/MessageControllerTest.kt
Due: build-backend, test-backend

Message-Filter Bug fixed
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
Due: build-backend, test-backend

fix(backend): updated dev with new branch
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/test/kotlin/de/uulm/automotive/cds/controller/MessageControllerTest.kt
Due: build-backend, test-backend

style(android): Fixed missaligned message Property hint.
  automotive-frontend/automotive/src/main/res/layout/activity_message_deletion_helper.xml
Due: build-android:assemble, test-android

style(android): Fixed missaligned message Property hint.
  automotive-frontend/automotive/src/main/res/layout/message_card.xml
Due: build-android:assemble, test-android

feat(WebApp): make program working again after merge conflicts
  webview/package-lock.json
  webview/src/app/app.module.ts
Due: build-webview

fix(fixed date format in message form):
  webview/src/app/message/message-form/message-form.component.ts
Due: build-webview

feat(message fragment): added sender icon to message fragment
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messageFragment/MessageAdapter.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/rabbitmq/RabbitMQService.kt
  automotive-frontend/automotive/src/main/res/layout/message_card.xml
Due: build-android:assemble, test-android

fix(backend): Template message now filtered from message repository results
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/repositories/MessageRepository.kt
  backend/src/main/kotlin/de/uulm/automotive/cds/services/MessageService.kt
Due: build-backend, test-backend

feat(message content activity): added image and link tags
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/messagedb/Converters.kt
  automotive-frontend/automotive/src/main/res/layout/activity_message_content.xml
Due: build-android:assemble, test-android

feat(Backend and WebApp): update message in message history debugged
  backend/src/main/kotlin/de/uulm/automotive/cds/controller/MessageController.kt
  webview/src/app/message-history/message-history.component.ts
  webview/src/app/message/message-form/message-form.component.ts
Due: build-backend, test-backend, build-webview

fix(android): Fix of map view overlaying links
  automotive-frontend/automotive/src/main/java/de/uulm/automotiveuulmapp/messages/MessageContentActivity.kt
  automotive-frontend/automotive/src/main/res/layout/activity_message_content.xml
Due: build-android:assemble, test-android

feat(model form): added toggle button group for alignment selection
  webview/src/app/app.module.ts
  webview/src/app/message/message-form/message-form.component.css
  webview/src/app/message/message-form/message-form.component.html
  webview/src/app/message/message-form/message-form.component.ts
  webview/src/app/models/Alignment.ts
Due: build-webview
